body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.containertop {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

.header {
  margin: 0 12rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
}

.navbar h3 {
  font-size: 24px;
  color: #f9faf8;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 16px;
}

li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

li a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: #e5e7eb;
}

.herotext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4em;
}

.herocontent {
  width: 25%;
}

.herocontent h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.herocontent p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.herocontent button {
  background-color: #3882f6;
  border-radius: 6px;
  border: none;
  padding: 6px 24px;
  color: white;
  font-weight: 600;
  margin-top: 0.5em;
}

.heroimg {
  width: 400px;
}

.heroimg img {
  max-width: 100%;
  height: auto;
}

.randominfo {
  margin: 0 20em 4em 20em;
}

.infoheader {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 4em;
}

.card {
  flex: 0 0 0;
}

.card div {
  padding: 78px;
  border: #3882f6 3px solid;
  border-radius: 10px;
}

.card p {
  text-align: center;
  font-size: 18px;
  color: #1f2937;
}

.containerquote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 4em 32em;
}

.containerquote .thor {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.containerquote .quote {
  font-size: 32px;
  color: #1f2937;
  font-weight: 100;
  margin: 0;
}

.containercta {
  margin: 4em 12rem;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 32px 16px;
}

.ctacontent h3,
.ctatext {
  margin: 4px 0;
  color: white;
}

.ctabtn button {
  padding: 4px 24px;
  background-color: #3882f6;
  border: 2px white solid;
  border-radius: 8px;
  color: white;
  font-weight: 600;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.footer div {
  color: white;
  font-weight: 300;
  font-size: 14px;
}
